.App {
  text-align: center;
  color: #1190cb;
}

/* header */
.header {
  display:flex;
  flex-direction: column;
  justify-content: absolute;
  min-height: 10vh;
  width:100%;
  align-items: center;
  margin: 3vh 0;
}

/* login */
.login {
  padding: 4vh;
  margin: 3vh;
}

.loginInput,
.loginButton,
.formButton {
  padding: 2vh;
}

/* form */

.form {
  display:flex;
  flex-direction: column;
  justify-content: absolute;
  height: 70vh;
  width:100%;
  align-items: center;
  align-content: center;
  margin: 3vh 0;
}

.formAfterQuestion, .formBeforeQuestion {
  padding: 5vh 5vh;
  margin: 5vh 5vh;
}

.formTitle {
  padding-bottom: 10px;
} 

.correct {
  color: green;
}

.inCorrect {
  color: red;
}

a:link {
  text-decoration: none;
}



/* footer */
.footer {
  display:flex;
  justify-content: space-around;
  width:100%;
  align-items: center;
  bottom: 0;
  position: absolute;
  height: 50px;
}

.notFound {
  padding-top: 15vh;
  font-size: larger;
  height: 50vh;
  width:100%;
  align-items: center;
  align-content: center;
}

img {
  height: 100px;
  object-fit: contain;
}

@media screen and (min-width: 768px) {

  img {
    height: 200px;
    object-fit: contain;
  }

}