/* body {
  border: 1px solid red;
} */


.App {
  text-align: center;
  color: #1190cb;
}

/* header */
.header {
  display:flex;
  flex-direction: column;
  justify-content: absolute;
  min-height: 10vh;
  width:100%;
  align-items: center;
  margin: 3vh 0;
}

/* login */
.login {
  padding: 4vh;
  margin: 3vh;
}

.loginInput,
.loginButton,
.formButton {
  padding: 2vh;
}

/* form */

.form {
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: absolute;
  min-height: 70vh;
  width:100%;
  align-items: center;
  margin: 3vh 0;
}

.afterQuestion {
  padding: 40px 10px;
  margin: 40px 10px;
}

.formTitle {
  padding-bottom: 10px;
} 

.correct {
  color: green;
}

.inCorrect {
  color: red;
}


/* footer */
.footer {
  display:flex;
  justify-content: space-around;
  width:100%;
  align-items: center;
  bottom: 0;
  position: absolute;
  height: 50px;
}

img {
  height: 100px;
  object-fit: contain;
}


@media screen and (min-width: 768px) {

  img {
    height: 200px;
    object-fit: contain;
  }

}